extends ./layouts/default

block content
  .row.home
    .page-header
      h1 Te ayudamos a visualizar México

      img(src="http://www.mars.com/global/assets/images/center-content/Mexico-flag.jpg", style="width:600px; height:260px;")

  .row(style="text-align:center; margin: 20px;")
    a.btn.btn-default.btn-lg(href="/create") Iniciar

  .row.options
    .col-xs-3.option
      h3 Utiliza tu informacion
      p Procesamos archivos csv, xls o tus documentos de Google Docs son utiles.
    .col-xs-3.option
      h3 Construye mapas
      p Usa mapas de los estados y municipios.
    .col-xs-3.option
      h3 Utiliza graficas
      p No te pueden faltar graficas para visualizar tu informacion
    .col-xs-3.option
      h3 Comparte
      p Comparte tus visualizaciones al mundo.

  .footer

  .follow
    iframe(src="http://ghbtns.com/github-btn.html?user=berser&repo=mapagrafia&type=watch&size=large", height="30", width="100", frameborder="0", scrolling="0", style="width:100px; height: 30px;", allowTransparency="true")
    iframe(src="http://ghbtns.com/github-btn.html?user=berser&repo=mapagrafia&type=fork&size=large", height="30", width="100", frameborder="0", scrolling="0", style="width:100px; height: 30px;", allowTransparency="true")
    a.twitter-follow-button(href="https://twitter.com/__arch3r",data-show-count="false", data-lang="es") Seguir a @__arch3r
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


append stylesheet
  style(type='text/css').
    .follow {
      height: 300px;
      width: 150px;
      position:absolute;
      right: 70px;
      top: 70px;
      z-index:100;

    }

    .home {
      text-align: center;
    }

    h1 {
      color: #1f4363;
    }

    .options {
      margin: 30px 0 30px 0;
      background-color: #fff;
      height: 150px;
    }

    .option {
      //- border: 1px solid #DEDEDE;
      height: 100%;
      padding: 10px 15px;
      text-align: center;
    }
